body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #EBE8F5 0%, #DCD7EC 100%);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.02);
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
}

input {
    padding: .8rem;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #4caf50;
    outline: none;
}

button {
    padding: 1rem;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 1rem 0 0;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#weatherInfo {
    margin-top: 1.8rem;
    padding: 1.2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

.forecast-container {
    display: flex;
    justify-content: space-around;
    margin-top: 1.2rem;
    animation: fadeIn 1s ease-in-out;
}


.forecast-item {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.forecast-item:hover {
    transform: translateY(-5px);
}

/* Responsive Styles */
@media (max-width: 600px) {

    body {
        display: block;
        height: max-content;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.5rem;
    }


    input {
        margin-bottom: .8rem;
    }

    button {
        width: 100%;
    }

    .forecast-container {
        flex-direction: column;
    }

    .forecast-item {
        margin: 10px 0;
    }

    #weatherInfo {
        text-align: center;
        margin-top: 1rem;
        padding: 1rem;
        width: stretch;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}